@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Nome"]</h3>
<h4>@ViewData["Email"]</h4>


<p>Informações extras sobre Gellados Gourmet</p>
